/*-------------------------------

    Custom stylesheet (custom.css)

    Project: Eight Template
    Version: 1.0
    Author: By Themanoid
    Last change: 31 July 2016

    --

    This stylesheet is meant for
    your own custom styles, on
    top of The Eight Template

    Happy styling!
    - Themanoid

----------------------------*/

.index-image {
    width:100%;
    margin-bottom: 20px;
}

.header-logo {
    height: 50px;
}

.about-image {
    max-height: 300px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-60 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.index-hero {
    font-size: 100px;
    font-weight: 550;
}

@media screen and (max-width: 768px) {
    .index-hero {
        font-size: 60px;
        font-weight: 550;
    }
}

.portfolio-image {
    max-width: 600px;
    max-height: 280px;
}