.landing-title {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    text-align: center;
}

.landing-title a:hover{
    text-decoration: none;
}

.landing-title-description {
    font-family: "VisbyCF-Light", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.7em;
}

.index-image {
    width:100%;
    margin-bottom: 20px;
}

.header-logo {
    height: 50px;
}

.about-image {
    max-height: 300px;
}

.index-title {
    margin-bottom: 20px !important;
}

.index-title-sub {
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
}

.link-no-ul {
    color: #63ace5;
}

@media screen and (max-width: 768px) {
    .portfolio-image {
        max-height: 160px;
    }   
    .index-title-sub {
        font-size: 20px;
    }
}

.portfolio-image {
    height: 280px;
}