/*VisbyCF*/

/*Regular*/
@font-face {
	font-family: 'VisbyCF';
	src:url('../fonts/VisbyCF/VisbyCF-Regular.eot');
    src:url('../fonts/VisbyCF/VisbyCF-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-Regular.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-Regular.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'VisbyCF';
	src:url('../fonts/VisbyCF/VisbyCF-Bold.eot');
    src:url('../fonts/VisbyCF/VisbyCF-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-Bold.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-Bold.ttf') format('truetype');	
    font-weight: bold;
}


@font-face {
	font-family: 'VisbyCF';
	src:url('../fonts/VisbyCF/VisbyCF-RegularOblique.eot');
    src:url('../fonts/VisbyCF/VisbyCF-RegularOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-RegularOblique.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-RegularOblique.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Thin*/
@font-face {
	font-family: 'VisbyCF-Thin';
	src:url('../fonts/VisbyCF/VisbyCF-Thin.eot');
    src:url('../fonts/VisbyCF/VisbyCF-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-Thin.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-Thin.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'VisbyCF-Thin';
	src:url('../fonts/VisbyCF/VisbyCF-ThinOblique.eot');
    src:url('../fonts/VisbyCF/VisbyCF-ThinOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-ThinOblique.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-ThinOblique.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Light*/
@font-face {
	font-family: 'VisbyCF-Light';
	src:url('../fonts/VisbyCF/VisbyCF-Light.eot');
    src:url('../fonts/VisbyCF/VisbyCF-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-Light.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-Light.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'VisbyCF-Light';
	src:url('../fonts/VisbyCF/VisbyCF-LightOblique.eot');
    src:url('../fonts/VisbyCF/VisbyCF-LightOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-LightOblique.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-LightOblique.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Medium*/
@font-face {
	font-family: 'VisbyCF-Medium';
	src:url('../fonts/VisbyCF/VisbyCF-Medium.eot');
    src:url('../fonts/VisbyCF/VisbyCF-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-Medium.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-Medium.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'VisbyCF-Medium';
	src:url('../fonts/VisbyCF/VisbyCF-MediumOblique.eot');
    src:url('../fonts/VisbyCF/VisbyCF-MediumOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-MediumOblique.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-MediumOblique.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*DemiBold*/
@font-face {
	font-family: 'VisbyCF-Demibold';
	src:url('../fonts/VisbyCF/VisbyCF-DemiBold.eot');
    src:url('../fonts/VisbyCF/VisbyCF-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-DemiBold.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-DemiBold.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'VisbyCF-Demibold';
	src:url('../fonts/VisbyCF/VisbyCF-DemiBoldOblique.eot');
    src:url('../fonts/VisbyCF/VisbyCF-DemiBoldOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-DemiBoldOblique.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-DemiBoldOblique.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Bold*/
@font-face {
	font-family: 'VisbyCF-Bold';
	src:url('../fonts/VisbyCF/VisbyCF-Bold.eot');
    src:url('../fonts/VisbyCF/VisbyCF-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-Bold.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-Bold.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'VisbyCF-Bold';
	src:url('../fonts/VisbyCF/VisbyCF-BoldOblique.eot');
    src:url('../fonts/VisbyCF/VisbyCF-BoldOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-BoldOblique.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-BoldOblique.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*ExtraBold*/
@font-face {
	font-family: 'VisbyCF-Extrabold';
	src:url('../fonts/VisbyCF/VisbyCF-ExtraBold.eot');
    src:url('../fonts/VisbyCF/VisbyCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-ExtraBold.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-ExtraBold.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'VisbyCF-Extrabold';
	src:url('../fonts/VisbyCF/VisbyCF-ExtraBoldOblique.eot');
    src:url('../fonts/VisbyCF/VisbyCF-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-ExtraBoldOblique.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-ExtraBoldOblique.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Heavy*/
@font-face {
	font-family: 'VisbyCF-Heavy';
	src:url('../fonts/VisbyCF/VisbyCF-Heavy.eot');
    src:url('../fonts/VisbyCF/VisbyCF-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-Heavy.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-Heavy.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'VisbyCF-Heavy';
	src:url('../fonts/VisbyCF/VisbyCF-HeavyOblique.eot');
    src:url('../fonts/VisbyCF/VisbyCF-HeavyOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VisbyCF/VisbyCF-HeavyOblique.woff') format('woff'),
    url('../fonts/VisbyCF/VisbyCF-HeavyOblique.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Addington*/

/*Regular*/
@font-face {
	font-family: 'AddingtonCF';
	src:url('../fonts/AddingtonCF/AddingtonCF-Regular.ttf');
    font-weight:normal;	
}

@font-face {
	font-family: 'AddingtonCF';
	src:url('../fonts/AddingtonCF/AddingtonCF-RegularItalic.ttf');
    font-weight:normal;
    font-style: italic;	
}

/*Thin*/
@font-face {
	font-family: 'AddingtonCF-Thin';
	src:url('../fonts/AddingtonCF/AddingtonCF-Thin.ttf');
    font-weight:normal;	
}

@font-face {
	font-family: 'AddingtonCF-Thin';
	src:url('../fonts/AddingtonCF/AddingtonCF-ThinItalic.ttf');
    font-weight:normal;
    font-style: italic;	
}

/*Light*/
@font-face {
	font-family: 'AddingtonCF-Light';
	src:url('../fonts/AddingtonCF/AddingtonCF-Light.ttf');
    font-weight: normal;	
}

@font-face {
	font-family: 'AddingtonCF-Light';
	src:url('../fonts/AddingtonCF/AddingtonCF-LightItalic.ttf');
    font-weight: normal;
    font-style: italic;	
}

/*Medium*/
@font-face {
	font-family: 'AddingtonCF-Medium';
	src:url('../fonts/AddingtonCF/AddingtonCF-Medium.ttf');
    font-weight: normal;	
}

@font-face {
	font-family: 'AddingtonCF-Medium';
	src:url('../fonts/AddingtonCF/AddingtonCF-MediumItalic.ttf');
    font-weight: normal;
    font-style: italic;	
}

/*DemiBold*/
@font-face {
	font-family: 'AddingtonCF-Demibold';
	src:url('../fonts/AddingtonCF/AddingtonCF-DemiBold.ttf');
    font-weight: normal;	
}

@font-face {
	font-family: 'AddingtonCF-Demibold';
	src:url('../fonts/AddingtonCF/AddingtonCF-DemiBoldItalic.ttf');
    font-weight: normal;
    font-style: italic;	
}

/*Bold*/
@font-face {
	font-family: 'AddingtonCF-Bold';
	src:url('../fonts/AddingtonCF/AddingtonCF-Bold.ttf');
    font-weight:bold;	
}

@font-face {
	font-family: 'AddingtonCF-Bold';
	src:url('../fonts/AddingtonCF/AddingtonCF-BoldItalic.ttf');
    font-weight:bold;
    font-style: italic;	
}


/*ExtraBold*/
@font-face {
	font-family: 'AddingtonCF-Extrabold';
	src:url('../fonts/AddingtonCF/AddingtonCF-ExtraBold.ttf');
    font-weight: normal;	
}

@font-face {
	font-family: 'AddingtonCF-Extrabold';
	src:url('../fonts/AddingtonCF/AddingtonCF-ExtraBoldItalic.ttf');
    font-weight: normal;
    font-style: italic;	
}

/*Source Sans Pro*/

/*Regular, Italic, Bold*/
@font-face {
	font-family: 'SourceSansPro';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'SourceSansPro';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');	
    font-weight: bold;
}


@font-face {
	font-family: 'SourceSansPro';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-RegularOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-RegularItalic.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*ExtraLight*/
@font-face {
	font-family: 'SourceSansPro-ExtraLight';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'SourceSansPro-ExtraLight';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Light*/
@font-face {
	font-family: 'SourceSansPro-Light';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'SourceSansPro-Light';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*SemiBold*/
@font-face {
	font-family: 'SourceSansPro-Semibold';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'SourceSansPro-Semibold';
	src:url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.eot');
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Bold*/
@font-face {
	font-family: 'SourceSansPro-Bold';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'SourceSansPro-Bold';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Black*/
@font-face {
	font-family: 'SourceSansPro-Black';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'SourceSansPro-Black';
    src:url('../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf') format('truetype');	
    font-weight: normal;
    font-style: italic;
}

/*Miriam Libre*/

/*Regular*/
@font-face {
	font-family: 'MiriamLibre';
    src: url('../fonts/Miriam_Libre/MiriamLibre-Regular.ttf') format('truetype');	
    font-weight: normal;
}

@font-face {
	font-family: 'MiriamLibre';
    src: url('../fonts/Miriam_Libre/MiriamLibre-Bold.ttf') format('truetype');	
    font-weight: bold;
}
