---
title: Darren Lee's Design Portfolio | UX Design and Frontend 
permalink: /
layout: default

---

      <section class="hero">
        <div class="container">
          
            <div class="col-md-8 col-md-offset-2 mb-md">
              <h1 class="landing-title wow fadeInUp" data-wow-iteration="1" data-wow-duration="1000ms">
                Hi! I'm Darren, 
                <br><span class="typed">User Experience</span>
                Designer		
              </a>
              </h1>

              <!--<img id="video" src="/dist/images/about/me-gif2.gif" alt="this is Darren Lee, designer.">-->

              <video id="video" class="mt-md" autoplay muted playsinline poster="dist/images/about/videos/me3.jpg">
                <source src="dist/images/about/videos/me3-2.mp4" type="video/mp4">
                <source src="dist/images/about/videos/me3.webm" type="video/webm">
                <source src="dist/images/about/videos/me3.ogg" type="video/ogg">
              </video>

              <h2 id="portfolio-header" class=" wow bounceInUp" data-wow-duration="1500ms" align="center"><a href="/about/"> >> more about me </a></h2>
            </div>      
         
        </div>
      </section>

      <section class="grid-container mb-md">
        <div class="container">
          <div class="row">

            <div class="col-md-12 grid classic">
            
             {% for portfolio in site.portfolio reversed %}
             <a href="{{ portfolio.url }}" class="item {{ portfolio.filter }}" data-wow-iteration="1" data-wow-duration="1500ms">
               <div class="thumb"><img class="portfolio-image" alt="{{ portfolio.imagealt }}" src="{{ portfolio.imageurl }}"></div>
                <div class="caption">
                  <h4> {{ portfolio.title }}</h4>
                  <div class="tag pb-sm"> {{ portfolio.description }} </div>
                  {% if portfolio.skills1 == null %} 
                    {% else %}
                      <span class="skillstag"> {{ portfolio.skills1 }} </span> 
                  {% endif %}

                  {% if portfolio.skills2 == null %} 
                    {% else %}
                      <span class="skillstag"> {{ portfolio.skills2 }} </span> 
                  {% endif %}

                  {% if portfolio.skills3 == null %} 
                  <!--<span class="skillstag"> </span> -->
                    {% else %}
                      <span class="skillstag"> {{ portfolio.skills3 }} </span> 
                  {% endif %}

                  <!--<span class="skillstag"> {{ portfolio.skills2 }} </span> -->
                  
                  <!--<span class="skillstag"> {{ portfolio.skills3 }} </span>-->
                </div></a>
            {% endfor portfolio %}

              </div>
          </div>
        </div>
      </section>

		</main>
</div>

 <script>$(function(){$(".typed").typed({strings: ["User Experience", "Interaction", "Product", "Problem-Solving"],typeSpeed: 20,loop: false  });});</script>

 <script>
function portfolioScroll() {
    var elmnt = document.getElementById("content");
    elmnt.scrollIntoView();
}
</script>