      <footer class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-3 text-center">
              <p>Darren's<br>Design</p>
            </div>
            <div class="col-md-3 text-center">
              <p> Singapore <br> Mountain View, CA</p>
            </div>
            <div class="col-md-3 text-center">
              <p>
                  <a href="mailto:darrenleeyong@gmail.com">darrenleeyong@gmail.com</a>
                  <br>
                  <a href="tel:+1.650.495.4234">+1.650.495.4234</a>
              </p>
            </div>
            <div class="col-md-3 text-center">
              <ul class="social-links">
                <li> <a href="https://www.facebook.com/darrenleeyong" class="fa fa-facebook" target="_blank"></a></li>
                <li> <a href="https://www.linkedin.com/in/darrenleeyong/" class="fa fa-linkedin" target="_blank"></a></li>
                <li> <a href="https://twitter.com/iamDarrenly" class="fa fa-twitter" target="_blank"></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">&copy; Darren's Design. All rights reserved.</div>
          </div>
        </div>
      </footer>

    <script src="/js/assets/bootstrap.js"></script>
    <script src="/js/assets/imagesloaded.pkgd.min.js"></script>
    <script src="/js/assets/validation.js"></script>
    <script src="/js/assets/packery.pkgd.min.js"></script>
    <script src="/js/assets/velocity.min.js"></script>
    <script src="/js/assets/typed.min.js"></script>
    <script src="/modules/titan-slider/titan-slider.js"></script>
    <script src="/modules/tera-lightbox/tera-lightbox.js"></script>
    <script src="/js/assets/animsition.js"></script>
    <script src="/js/functions.js"></script>