 <header id="header">
        <div class="container">
          <div class="col-md-3"><a href="/" class="brand"><img alt="Darrens Design" src="/images/logo.svg" class="header-logo"></a></div>
          <div class="col-md-9 text-right">
            <div class="nav-trigger">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
            <ul class="navigation">
              <li><a href="/">Portfolio</a>
              </li>

              <li><a href="/about/">About</a>
              </li>

              <li> <a href="../darren_lee_resume_07_20_2018.pdf" target="_blank">Résumé</a>
              </li>

              <li> <a href="../darren-failure-resume-06-18.pdf" target="_blank" class="color-red">Résumé of Failures</a>
              </li>

            </ul>
          </div>
        </div>

</header>




