 <header>
        <div class="container">
          <div class="col-md-3"><a href="/" class="brand"><img alt="Darren Design" src="/images/logo.svg" class="header-logo"></a></div>
          <div class="col-md-9 text-right">
            <div class="nav-trigger">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
            <ul class="navigation">
              <li><a href="/">Portfolio</a>
              </li>

              <li> <a href="/blog/">Blog</a>
              </li>

              <li> <a href="/contact/">Contact</a>
              </li>

            </ul>
          </div>
        </div>

</header>




