---
title: Darren's Design
layout: default
excerpt: All the latest news from and my thoughts.
blogfeed: true
---

      <section class="hero text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h1>Blog</h1>
              <p>Inspired by <a href="https://http://medium.com/">Medium</a>.</p>

            </div>
          </div>
        </div>
      </section>
      <section class="grid-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12"><a href="#" class="btn btn-default filter-trigger">Filter</a></div>
            
            <div class="col-md-12 grid classic col-4">

                {% for blogpost in paginator.posts %}
                  <a href="{{ blogpost.url }}" class="item {{ blogpost.categories }}">
                  <div class="thumb"><img alt="{{ blogpost.alt }}" src="{{ blogpost.displayImage }}">
                    <div class="btn btn-default">Read article</div>
                  </div>
                  <div class="caption">
                    <div class="tag"> {{ blogpost.date }} </div>
                    <h4> {{ blogpost.title }} </h4>
                  </div></a>
                {% endfor blogpost %}

                {% include pagination.html %}

                </div>
          </div>


      <div class="row mt-xl">
        <div class="col-md-6 col-md-offset-3">
          
          {% if paginator.total_pages > 1 %}
          <div class="pagination">
            
          {% if paginator.previous_page %}
                <a href="/blog/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}" class="disabled previous ion-ios-arrow-thin-left pull-left"></a>
          {% endif %}

              <a {% if paginator.page == 1 %}class="active btn btn-default smooth" {% endif %}href="/blog/" class="btn btn-default" >1</a>
          {% for count in (2..paginator.total_pages) %}
              <a {% if paginator.page == count %}class="active btn btn-default smooth" {% endif %}href="/blog/page{{ count }}" class="btn btn-default" >{{ count }}</a>
          {% endfor %}

          {% if paginator.next_page %}     
                <a href="/blog/page{{ paginator.next_page }}" class="next ion-ios-arrow-thin-right pull-right">  </a>
          {% endif %}
            
          </div>
          {% endif %}

        </div>
      </div>

    </div>
      </section>
      
      <!--<div class="filter-container">
        <div class="container">
          <div class="inner">
            <ul class="filters">
              <li> <a href="#" data-filter="item" class="filter">All</a></li>
              <li><a href="#" data-filter="entries" class="filter">Entries</a></li>
              <li><a href="#" data-filter="thoughts" class="filter">Thoughts</a></li>
              <li><a href="#" data-filter="design" class="filter">Design</a></li>
              <li><a href="#" data-filter="coding" class="filter">Coding</a></li>
            </ul>
          </div>
        </div>
      </div>-->
    </div>