<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    {% include header.html %}

  <body class="no-lines">
    <div class="container-fluid"> 

      {{ content }}

      <script>
      tippy('.tippytooltip', {
        allowTitleHTML: true,
        delay: 100,
        distance: 10,
        arrow: true,
        size: 'large',
        duration: 500,
        theme: 'regular',
        animation: 'scale'
      })
      </script>

    {% include footer.html %}
    {% include anchor_links.html %}


  </body>
</html>



    

