<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    {% include header.html %}

  <body class="no-lines" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <div class="container-fluid"> 

      {% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}

      <section class="hero text-center">
        <div class="container">
          <div class="row">
            <nav class="col-md-2 scrollspy" data-wow-iteration="1" data-wow-duration="1500ms" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked">
                  <h3>Project Details</h3>
                  <hr>
                  <li><a href="#{{ page.section1href }}" class=".animsition-link">{{ page.section1 }}</a></li>
                  <li><a href="#{{ page.section2href }}">{{ page.section2 }}</a></li>
                  <li><a href="#{{ page.section3href }}">{{ page.section3 }}</a></li>
                  <li><a href="#{{ page.section4href }}">{{ page.section4 }}</a></li>
                  <li><a href="#{{ page.section5href }}">{{ page.section5 }}</a></li>
                  <li><a href="#{{ page.section6href }}">{{ page.section6 }}</a></li>
                  <li><a href="#{{ page.section7href }}">{{ page.section7 }}</a></li>
                  <li><a href="#{{ page.section8href }}">{{ page.section8 }}</a></li>
                  <li><a href="#{{ page.section9href }}">{{ page.section9 }}</a></li>
                  <li><a href="#{{ page.section10href }}">{{ page.section10 }}</a></li>
                  <li><a href="#{{ page.section11href }}">{{ page.section11 }}</a></li>
                  <li><a href="#{{ page.section12href }}">{{ page.section12 }}</a></li>
                  <li><a href="#{{ page.section13href }}">{{ page.section13 }}</a></li>
                  <li><a href="#{{ page.section14href }}">{{ page.section14 }}</a></li>
                  <li><a href="#{{ page.section15href }}">{{ page.section15 }}</a></li>

                </ul>
              </nav>
            <div class="col-md-9 col-md-offset-3">
              <h1>{{ page.title }}</h1>
              <p class="post-meta"> {{ page.description }} </p>
               <p class="post-meta">
                    Reading Time: {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min(s) read
                </p>
            </div>
          </div>
        </div>
      </section>

 <section class="content">
        <div class="container">

        

<section class="content">
          <div class="row mb-xl">
            <div class="col-md-10 col-md-offset-2 portfolio-content">
              <div class="col-md-11 col-md-offset-1"><img src="{{ page.imageurl }}" class="" alt="{{ page.imagealt }}"></div>
              {{ content }}
              </div>
          </div>
    </div>

              <div class="text-center mb-xl">
                  <div class="col-md-6 col-md-offset-3">
                    <a href="/" class="btn btn-default mb-lg">Back to Portfolio</a>
                    
                  </div>
              </div>
  </section>
  


    {% include footer.html %}
    {% include anchor_links.html %}

     <script>
      $('a[href^="#"]').on('click', function(event) {
          var target = $(this.getAttribute('href'));
          if( target.length ) {
              event.preventDefault();
              $('html, body').stop().animate({
                  scrollTop: target.offset().top
              }, 500);
          }
      });
     </script>

      <script>
      tippy('.tippytooltip', {
        allowTitleHTML: true,
        delay: 100,
        distance: 10,
        arrow: true,
        size: 'large',
        duration: 500,
        theme: 'regular',
        animation: 'scale'
      })
      </script>

  </body>
</html>



    

