<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    {% include header.html %}

  <body class="smooth-transition">
    <div class="container-fluid">       

{% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}

      <section class="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-meta">
                    {{ page.date | date_to_string }} &bull;
                    {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min(s) read
                </p>
            </div>
            
          </div>
        </div>
      </section>

      <section class="content">
        <div class="container">
          <div class="row">
            
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-10">
                  <img src="{{ page.heroImage }}  " class="mb-lg">
                  {{ content }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="pagination">

                      {% if page.previous.url %}
                        <a class=" prev previous ion-ios-arrow-thin-left pull-left"  href="{{page.previous.url}}"></a>        
                      {% else %}
                        <span class=" prev disabled previous ion-ios-arrow-thin-left pull-left"></span>
                      {% endif %}

                       <a href="/blog/" class="btn btn-default active">Back to Blog</a>
                      
                      {% if page.next.url %}
                        <a class="next next ion-ios-arrow-thin-right pull-right" href="{{page.next.url}}"></a>
                      {% endif %}

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
                <p>Welcome to my blog. Here you'll find my ramblings, stories, POVs and the latest web and design tips.</p>
                
                <div class="mt-lg">
                  <h3>Recent posts</h3>
                  <ul class="item-list">
                    {% for post in site.posts %}
                     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor post %}
                  </ul>
                </div>

                 <div class="mt-xl">
                  <h3>Tags</h3>
                  <ul class="tag-list">                     
                      {% for tag in page.tags %} <li>  <a href='/tag/#{{tag}}' class="label">{{tag}}</a></li> {% endfor %}
                  </ul>
                </div>

            </div>
          </div>

          
          <div id="disqus_thread"></div>
          </div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://darrensdesign.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

            </div>
        </div>
      </section>
      
    {% include footer.html %}
    {% include anchor_links.html %}

  </body>
</html>



    

